{% extends "base.html" %}
{% load i18n %}
{% load crispy_forms_tags %}

{% url 'account_login' as login_url %}
{% url 'account_signup' as signup_url %}
{% url 'account_logout' as logout_url %}

{% block head_title %}{% trans "Log In" %}{% endblock %}

{% block content %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="form-container mt-5">
                <h2 class="text-center mb-4">{% trans "Welcome to Book|Dine" %}</h2>
                <p class="text-center">
                    {% blocktrans %}
                    Log in to make a reservation or view your existing bookings. If you haven't created an
                    account yet, <a class="link" href="{{ signup_url }}">sign up</a> first.
                    {% endblocktrans %}
                </p>
                <form class="login" method="POST" action="{{ login_url }}">
                    {% csrf_token %}
                    {{ form|crispy }}
                    {% if form.errors %}
                    <div class="alert alert-danger">
                        {% for field, errors in form.errors.items %}
                        {% for error in errors %}
                        <p>{{ error }}</p>
                        {% endfor %}
                        {% endfor %}
                    </div>
                    {% endif %}
                    <div class="d-grid gap-2">
                        <button class="btn btn-primary" type="submit">{% trans "Log In" %}</button>
                        <a href="{% url 'accounts:password_reset' %}" class="btn btn-link">{% trans "Forgot Password?"
                            %}</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}