{% extends 'base.html' %}

{% load i18n %}
{% load crispy_forms_tags %}

{% url 'account_logout' as logout_url %}
{% url 'home' as home_url %}

{% block head_title %}{% trans "Log Out" %}{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-8 mt-3 offset-md-2">
            <h2>{% trans "Log Out" %}</h2>
            <p>{% trans "Are you sure you want to log out of our restaurant booking system?" %}</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8 mt-3 offset-md-2">
            <form method="post" action="{{ logout_url }}">
                {% csrf_token %}
                {% if redirect_field_value %}
                <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                {% endif %}
                <button class="btn btn-primary" type="submit">{% trans "Log Out" %}</button>
                <a href="{{ home_url }}" class="btn btn-secondary">{% trans "Cancel" %}</a>
            </form>
        </div>
    </div>
</div>
{% endblock %}