asgiref==3.8.1
astroid==3.2.2
black==24.4.2
cachetools==5.3.3
certifi==2024.2.2
charset-normalizer==3.3.2
click==8.1.7
cloudinary==1.40.0
crispy-bootstrap5==2024.2
dill==0.3.8
dj-database-url==2.1.0
Django==5.0.6
django-allauth==0.62.1
django-cloudinary-storage==0.3.0
django-crispy-forms==2.1
django-extensions==3.2.3
django-filter==25.1
djangorestframework==3.16.0
django-cors-headers==4.3.1
flake8==7.0.0
google-api-core==2.19.0
google-auth==2.29.0
google-geo-type==0.3.7
google-maps-places==0.1.14
googleapis-common-protos==1.63.0
googlemaps==4.10.0
graphviz==0.20.3
grpcio==1.63.0
grpcio-status==1.62.2
gunicorn==22.0.0
idna==3.7
isort==5.13.2
Markdown==3.8.2
mccabe==0.7.0
mypy-extensions==1.0.0
packaging==24.0
pathspec==0.12.1
pillow==10.3.0
platformdirs==4.2.2
proto-plus==1.23.0
protobuf==4.25.3
psycopg2==2.9.9
pyasn1==0.6.0
pyasn1_modules==0.4.0
pycodestyle==2.11.1
pydot==2.0.0
pydotplus==2.0.2
pyflakes==3.2.0
pylint==3.2.2
pyparsing==3.1.2
python-dotenv==1.0.1
requests==2.31.0
rsa==4.9
six==1.16.0
sqlparse==0.5.0
tomli==2.0.1
tomlkit==0.12.5
typing_extensions==4.11.0
urllib3==2.2.1
whitenoise==6.4.0
