/* Reset and base styles */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins', sans-serif;
    line-height: 1.6;
    color: #333;
    background-color: #f8f9fa;
}

/* Header and Navigation Styles */
.navbar {
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.navbar-brand {
    font-weight: 700;
    font-size: 1.5rem;
    color: #ff6347;
}

.navbar-brand .thin {
    font-weight: 400;
}

.nav-link {
    font-weight: 500;
    color: #333;
    transition: color 0.3s ease;
}

.nav-link:hover,
.nav-link.active {
    color: #ff6347;
}

/* Form Styles */
.form-container {
    max-width: 500px;
    margin: 0 auto;
    padding: 2rem;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    margin-bottom: 3rem;
}

.form-group {
    margin-bottom: 1.5rem;
}

.form-label {
    font-weight: 600;
}

.form-control {
    display: block;
    width: 100%;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.form-control:focus {
    color: #495057;
    background-color: #fff;
    border-color: #ff6347;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(255, 99, 71, 0.25);
}

#div_id_remember {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
}

#div_id_remember .form-check-input {
    margin-right: 0.5rem;
    margin-bottom: 0.4rem;
}


/* Password Requirements List */
#id_password1_helptext ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 0.5em;
    margin-block-end: 0.5em;
    margin-inline-start: 0;
    margin-inline-end: 0;
    padding-inline-start: 2rem;
    margin-top: 0;
    margin-bottom: 1rem;
}

#id_password1_helptext li {
    display: list-item;
    text-align: left;
    margin-bottom: 0.25rem;
    font-size: 0.9rem;
    color: #6c757d;
}

/* Hero Section Styles */
.hero-section {
    position: relative;
    height: 80vh;
    overflow: hidden;
    margin: 0 auto;
    max-width: 1200px;
    padding: 0 1rem;
}

.hero-image {
    background-image: url('https://res.cloudinary.com/decvzhwaz/image/upload/t_Banner 16:9/v1715513235/back_sqtuzk.jpg');
    background-size: cover;
    background-position: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.hero-image::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.hero-content {
    position: relative;
    z-index: 1;
    color: #fff;
    text-align: center;
    padding: 2rem;
    max-width: 800px;
    margin: 60px auto 0;
}

.hero-content h1 {
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 1rem;
}

.hero-content p {
    font-size: 1.5rem;
    margin-bottom: 2rem;
}

/* Button Styles */

.btn-primary {
    display: block;
    width: 100%;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    font-weight: 600;
    text-align: center;
    color: #fff;
    background-color: #ff6347;
    border: #ff6347;
    border-radius: 0.25rem;
    transition: background-color 0.15s ease-in-out;
}

.btn-primary:hover {
    background-color: #e65c4f;
    border-color: #e65c4f;
}

/* Card Styles */
.card {
    border: none;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Main Content Styles */
.main-bg {
    background-color: #f8f9fa;
}

.cta-section {
    margin-top: 2rem;
}

.featured-restaurants,
.latest-reservations {
    margin-top: 4rem;
}

.featured-restaurants h2,
.latest-reservations h2 {
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 2rem;
}

.list-unstyled {
    list-style: none;
    padding: 0;
}

.card-title {
    font-size: 1.2rem;
    font-weight: 700;
}

.card-text {
    font-size: 1rem;
    color: #666;
}

/* Footer Styles */
.footer {
    background-color: #f8f9fa;
    padding: 1rem;
    text-align: center;
    box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);
    padding-top: 2rem;
}

/* Responsive Styles */
@media (min-width: 768px) {
    .btn-primary {
        display: inline-block;
        width: auto;
        padding: 0.75rem 1.5rem;
        font-size: 1.2rem;
    }

    .hero-section {
        padding: 2rem 0;
    }

    .hero-section h1 {
        font-size: 2rem;
    }

    .hero-section p {
        font-size: 1rem;
    }

    .featured-restaurants,
    .latest-reservations {
        margin-top: 2rem;
    }

    .featured-restaurants h2,
    .latest-reservations h2 {
        font-size: 1.5rem;
    }
}