{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}
<div class="container my-5">
    <h1>Restaurants</h1>

    <form method="get" action="{% url 'restaurant_list' %}" class="mb-4">
        {{ form|crispy }}
        <button type="submit" class="btn btn-primary">Filter</button>
    </form>

    {% if restaurants %}
    <h1 class="text-center mb-4 primary-color">Book a Table</h1>
    <p class="text-center mb-4">Select a restaurant to book a table:</p>
    <div class="row justify-content-center">
        <div class="col-md-8">
            <ul class="list-group">
                {% for restaurant in restaurants %}
                <li class="list-group-item restaurant-item">
                    <a href="{% url 'restaurant_detail' restaurant.id %}" class="text-decoration-none">
                        <div class="d-flex justify-content-between align-items-center">
                            <h5 class="mb-0">{{ restaurant.name }}</h5>
                            <span class="badge badge-primary cuisine-badge">{{ restaurant.cuisine }}</span>
                        </div>
                        <p class="mb-0 restaurant-location">{{ restaurant.location }}</p>
                    </a>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
    {% else %}
    <p class="text-center">No restaurants found.</p>
    {% endif %}
</div>
{% endblock %}