{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}
<div class="container my-5">
    <h1 class="text-center mb-4 display-4">Make a Reservation at {{ restaurant.name }}</h1>
    {% if messages %}
    {% for message in messages %}
    <div class="alert alert-{{ message.tags }} text-center rounded-pill">{{ message }}</div>
    {% endfor %}
    {% endif %}
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card custom-card shadow-lg">
                <div class="card-body">
                    <form method="post">
                        {% csrf_token %}
                        {{ form.non_field_errors }}
                        {% crispy form %}
                        <button type="submit" class="btn btn-primary custom-button btn-block rounded-pill">Make a
                            Reservation</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}