{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container my-5">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card shadow">
                <div class="card-header bg-text text-white">
                    <h4 class="mb-0">Invalid Place ID</h4>
                </div>
                <div class="card-body">
                    <p class="lead">Oops! It seems like the provided place ID is invalid.</p>
                    <p class="mb-4">Error details: <span class="font-weight-bold">{{ error_message }}</span></p>
                    <p>Please make sure you are using a valid Google Places API place ID.</p>
                    <a href="{% url 'home' %}" class="btn btn-primary">Go back to home</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}